<!DOCTYPE html>
<html>
  <head>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/e56cae8025.js"></script>
    
  </head>
  <body>
    
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container mx-0 mx-sm-auto">
        <a class="navbar-brand" href="#">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a class="navbar-brand" href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
        </a>
        <a class="navbar-brand" href="https://www.facebook.com/%EC%BD%94%ED%85%8D%EB%AA%B0-121700988477017/?ref=bookmarks">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">회원가입</a>
            </li>
            
            <!--
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                마이페이지</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">책 장터</a>
                <a class="dropdown-item" href="#">원룸 장터</a>
                <a class="dropdown-item" href="#">알바 장터</a>
                <a class="dropdown-item" href="#">기타 장터</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">로그아웃</a>
              </div>
            </li>
            -->
              
            </div>
          </li>
          </ul>
        </div>
        
      </div> <!-- container -->
    </nav>
    
    <header class="w-100">
      <div class="container h-100 d-flex flex-column justify-content-center py-3">
        <a>
          
        </a>
        
        <div class="row">
          <div class="col-md-4 mt-5"></div>
          <div class="col-md-3 ml-md-auto mt-5">
            코리아텍MALL
          </div>
          <div class="col-md-3 ml-md-auto mt-5">
            <form action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <div class="input-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="">
                <span class="input-group-btn">
                  <button name="" type="submit" class="btn btn-thin btn-primary rounded-0 px-3 br-1" style="border-color:#ff921b; background-color:#ff921b">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          
        </div> <!-- row -->
        
      </div>
    </header>
      
    <section class="container py-5">

      <ul class="nav flex-wrap">
        <li class="nav-item active">
          <a class="nav-link pt-3 px-2 mr-3" href="/posts?query=true" style="text-decoration:none; color:#3b495b;">공지사항</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link pt-3 px-2 mr-3" href="/posts?query=false" style="text-decoration:none; color:#3b495b;">자유게시판</a>
        </li>
    
        <span class="ml-auto align-self-center hidden-sm-down">
          
        </span>
      </ul>
      
    </section>
        
    
    
    
    
    
    
    
   
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>


  </body>
</html>


