<!DOCTYPE html>
<html>
  <head>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/e56cae8025.js"></script>
    
    

    <!-- custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i|Montserrat:700" rel="stylesheet">


    <style>
    div > a:hover {
      background-color: #F6F6F6;
      font-weight: bold;
    }
    li > a:hover {
      font-weight: bold;
    }
    </style>
    
    
  </head>
  <body>
    
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container mx-0 mx-sm-auto">
        <a class="navbar-brand" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a class="navbar-brand" href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
        </a>
        <a class="navbar-brand" href="https://www.facebook.com/%EC%BD%94%ED%85%8D%EB%AA%B0-121700988477017/?ref=bookmarks">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><small>로그인</small></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><small>회원가입</small></a>
            </li>
            
            <!--
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                마이페이지</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">책 장터</a>
                <a class="dropdown-item" href="#">원룸 장터</a>
                <a class="dropdown-item" href="#">알바 장터</a>
                <a class="dropdown-item" href="#">기타 장터</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">로그아웃</a>
              </div>
            </li>
            -->
              
            </div>
          </li>
          </ul>
        </div>
        
      </div> <!-- container -->
    </nav>
    
    <header class="w-100">
      <div class="container h-100 d-flex flex-column py-3">
        <a></a>
        
        <div class="row">
          <div class="col-md-4 mt-5"></div>
          <div class="col-md-3 ml-md-auto mt-2">
            <img alt="logo" src="/assets/logo.png" width="80%">
          </div>
          <div class="col-md-3 ml-md-auto mt-5">
            <form action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <div class="input-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="">
                <span class="input-group-btn">
                  <button name="" type="submit" class="btn btn-thin btn-success rounded-0 px-3 br-1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          
        </div> <!-- row -->
        
      </div>
    </header>
      
    <section class="container py-5">

      <div class="text-center hidden-md-up">
        
      </div>
      
      <ul class="nav flex-wrap">
        <li class="nav-item active">
          <a class="nav-link pt-3 px-2 mr-3" href="/" style="text-decoration:none; color:#3b495b;">공지사항</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link pt-3 px-2 mr-3" href="#" style="text-decoration:none; color:#3b495b;">자유게시판</a>
        </li>
    
        <span class="ml-auto align-self-center hidden-sm-down">
          <a class="m-1 btn btn-thin btn-light font-size-sm" href="/notice/create">글쓰기</a>
        </span>
      </ul>
    
    
    
    
  
    
    
    
    
    
    
  
      <div class="pt-3 pt-md-4 mt-2 font-size-sm">
        <div class="row py-2 bt-gray-1 bb-gray-1 bg-gray-dark hidden-xs-down" style="background-color:#eceeef">
          <div class="col-12 col-sm-6 col-lg-8 col-xl-9 mb-1 mb-sm-0 font-size-base-xs-down">
            제목
          </div>
          <div class="col-4 col-sm-2 col-lg-1 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            글쓴이
          </div>
          <div class="col-4 col-sm-2 col-lg-2 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            날짜
          </div>
          <div class="col-4 col-sm-2 col-lg-1 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            조회수
          </div>
        </div>
           <% @notice.each do |n| %>
        <div class="row bb-gray-1 hidden-sm-up"></div>
        <a class="row py-2 bb-gray-1 post-link" href="/notice/show/<%= n.id %>" style="text-decoration:none; color:#3b495b;">
          <div class="col-12 col-sm-6 col-lg-8 col-xl-9 mb-1 mb-sm-0 font-size-base-xs-down text-truncate">
            <%= n.title %>
          </div>
          <div class="col-4 col-sm-2 col-lg-1 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            <%= n.nickname %>
          </div>
          <div class="col-4 col-sm-2 col-lg-2 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            <%= n.created_at() %>
          </div>
          <div class="col-4 col-sm-2 col-lg-1 col-xl-1 text-left text-sm-center text-color-warm-gray-xs-down">
            396
          </div>
        </a>
        <% end %>
      </div>
    
      <div class="d-flex flex-column">
        <div class="mt-2 mt-lg-3 mb-4 mb-md-5 align-self-center">
          <ul class="nav pagination">
            <li class="nav-item active">
              <a remote="false" class="nav-link pt-3 px-2 mx-1">1</a>
            </li>
            <li class="nav-item">
              <a rel="next" class="nav-link pt-3 px-2 mx-1 font-weight-light" href="/posts?page=2&amp;query=true">2</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
        
    
    
    
    
    
    
    
   
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>

    
  </body>
</html>